#news{
    position:absolute;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 200;
    left:25%;
    width:50%;
    justify-content: center;
    bottom:40px;
}
#newsTitle{
  text-align: center;
}
#weather{
    top:10px;
    position:absolute;
    right:0;
}
#trade{
	position:absolute;
	bottom:20px;
	right:0;
}