<!--
Original Author: Shengyao Lu & Yue Ma
Creation date: Jan 27th, 2019
Contents of file:
	1. The main page of the smart mirror
	2. Currently, it only contains meaningless content
	3. Will change in the future
	4. Register Dialog

-->
<!DOCTYPE html>
<html>
<head>
    <script src="/static/upload/mainpage/ajax.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/upload/time/lib/style.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/main.css">

    <script src= "/static/upload/login.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor="#000000">
<div class="container-header clock">
    <div class="content">
        <div class="clock"></div>
    </div>
</div>
<div class="container">
    <div class="content-analog">
        <div class='clock-txt'></div>
    </div>
</div>

<div id = 'weather'>
    <a style="width:300px" class="weatherwidget-io" href="https://forecast7.com/en/53d54n113d49/edmonton/" data-label_1="EDMONTON" data-label_2="WEATHER" data-icons="Climacons Animated" data-mode="Current" data-theme="dark" >EDMONTON WEATHER</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
</div>
<div id="id01" class="modal">

  <form class="modal-content animate" action="/signup" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="containerForm">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" id="uname" required>

      <label for="gml"><b>Gmail</b></label>
      <input type="text" placeholder="Enter Gmail Address" name="gml" id="gml" required>
      
      <h4>Preference</h4>
      <ul class="tg-list" id="firstLineUL">
        <li class="tg-list-item">
          <input name = 'calendar' class="tgl tgl-flip" id="calendarButton" type="checkbox"/>
          <label class="tgl-btn" data-tg-off="No Calendar" data-tg-on="Calendar" for="calendarButton"></label>
        </li>

      </ul>

        <ul class="tg-list" id="secondLineUL">


        <li class="tg-list-item">
          <input name = 'stock' class="tgl tgl-flip" id="stockButton" type="checkbox"/>
          <label class="tgl-btn" data-tg-off="No Stock" data-tg-on="Stock" for="stockButton"></label>
        </li>
        <li class="tg-list-item">
          <input name = 'fullWeather' class="tgl tgl-flip" id="weatherButton" type="checkbox"/>
          <label class="tgl-btn" data-tg-off="No Weather" data-tg-on="Weather" for="weatherButton"></label>
        </li>

        </ul>
        <ul class="tg-list" id="thirdLineUL">
        <li class="tg-list-item">
          <input name = 'news' class="tgl tgl-flip" id="newsButton" type="checkbox"/>
          <label class="tgl-btn" data-tg-off="No News" data-tg-on="News" for="newsButton"></label>
        </li>

        </ul>
      <button type="submit">Enter</button>
      <button type="button" onclick="" id="cancelButton">Del</button>



    </div>

  </form>
</div>

</body>
</html>



<script type="text/javascript" src="../static/upload/time/clock.js"></script>
<script type="text/javascript" src="../static/upload/time/lib/pkclock.js"></script>
