<!--
Original Author: Shengyao Lu
Creation date: Jan 27th, 2019
Contents of file:
	1. The main page of the smart mirror
	2. Currently, it only contains meaningless content
	3. Will change in the future

-->
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>

    <script src= "/static/upload/login.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">

</head>

<body bgcolor="#000000">
    <div>
       For testing (Please Wait For 5 Seconds!)

    </div>
     <script>
    window.onload = function(){
        if (annyang) {
            var commands = {
                'Hello': function() {
                    alert('Hi! I can hear you.');
                }
            };
            annyang.addCommands(commands);
            annyang.start();
        }
    }
    </script>
</body>
{% endblock %}

