<!--
Original Author: Shengyao Lu & Yue Ma
Creation date: Jan 27th, 2019
Contents of file:
	1. After the user logging in, the smart mirror will show this page
	2. It contains information such as news, time, weather, and calendar
-->
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Imported Css files -->
    <link rel="stylesheet" type="text/css" href="../static/upload/time/lib/style.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/calendarList.css">
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/specialUserPage.css">


</head>
<body bgcolor="#000000">
    <div class="container-header clock">
        <div class="content">
            <div class="clock"></div>
        </div>
    </div>
    <div class="container">
        <div class="content-analog">
            <div class='clock-txt'></div>
        </div>
    </div>
    <div id="weather">
        <a style="width:300px" class="weatherwidget-io" href="https://forecast7.com/en/53d54n113d49/edmonton/" data-label_1="EDMONTON" data-label_2="WEATHER" data-theme="dark" data-basecolor="rgba(0, 0, 0, 0.01)" >EDMONTON WEATHER</a>
    </div>
    <div id="news">
        <p id='newsTitle' style="color:white;font-family:'Helvetica';font-size:30px">Here are the latest news</p>
    </div>
    <div style="list-style-type: none;" id="calendarList"></div>
    <!-- TradingView Widget BEGIN -->
	<div id="trade">
        <div class="tradingview-widget-container stockprice" id = 'spx'>
            <div class="border"></div>
            <div class="linkPatch"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              {
              "symbol": "INDEX:SPX",
              "width": "300",
              "height": "200",
              "locale": "en",
              "dateRange": "1d",
              "colorTheme": "dark",
              "trendLineColor": "rgba(250, 0, 0, 0)",
              "underLineColor": "rgba(250, 0, 0, 0)",
              "isTransparent": true,
              "autosize": false,
              "largeChartUrl": ""
                }
              </script>
        </div>
        <div class="tradingview-widget-container stockprice" id="bitcoin">
            <div class="border"></div>
            <div class="linkPatch"></div>

            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              {
              "symbol": "BITFINEX:BTCUSD",
              "width": "300",
              "height": "200",
              "locale": "en",
              "dateRange": "1d",
              "colorTheme": "dark",
              "trendLineColor": "rgba(250, 0, 0, 0)",
              "underLineColor": "rgba(250, 0, 0, 0)",
              "isTransparent": true,
              "autosize": false,
              "largeChartUrl": ""
                }
              </script>
        </div>
        <div class="tradingview-widget-container stockprice" id="oil">
            <div class="border"></div>
            <div class="linkPatch"></div>

            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              {
              "symbol": "TVC:USOIL",
              "width": "300",
              "height": "200",
              "locale": "en",
              "dateRange": "1d",
              "colorTheme": "dark",
              "trendLineColor": "rgba(250, 0, 0, 0)",
              "underLineColor": "rgba(250, 0, 0, 0)",
              "isTransparent": true,
              "autosize": false,
              "largeChartUrl": ""
                }
              </script>
        </div>
          <div class="tradingview-widget-container stockprice" id="dja">
            <div class="border"></div>
              <div class="linkPatch"></div>

            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              {
              "symbol": "DJ:DJA",
              "width": "300",
              "height": "200",
              "locale": "en",
              "dateRange": "1d",
              "colorTheme": "dark",
              "trendLineColor": "rgba(250, 0, 0, 0)",
              "underLineColor": "rgba(250, 0, 0, 0)",
              "isTransparent": true,
              "autosize": false,
              "largeChartUrl": ""
                }
              </script>
        </div>
    </div>

</body>
</html>
{% endblock %}
<script src="../static/upload/calendar/lib/googleCalendar.js"></script>

<script src="../static/upload/newsfeed/news.json"></script>
<script type="text/javascript" src="../static/upload/weather/weather.js"></script>
<script type="text/javascript" src="../static/upload/time/clock.js"></script>
<script type="text/javascript" src="../static/upload/newsfeed/newsfeed.js"></script>
<script type="text/javascript" src="../static/upload/calendar/updateCalendar.js"></script>
<script type="text/javascript" src="../static/upload/time/lib/pkclock.js"></script>
<script type="text/javascript" src="../static/upload/specialUserPage.js"></script>
